<launch>
  <!--This launch file is to train the model using data collected by the Mobile Robotics Lab. -->
  <!-- When launching a ros file, roscore is run automatically -->

  <!-- Set parameter for simulation time -->
  <param name="use_sim_true" type="bool" value="true"/>

  <!-- launch husky_localization -->
  <include file="$(find husky_localization)/launch/husky_localization.launch"/>

  <!-- Play ROS bag file with clock enabled -->
  <node name="rosbag_play" pkg="rosbag" type="play" args="/home/adaptation/landauro/Pictures/Forest_Pictures/april25th/april25th_bc_data1.bag --clock"/>

  <!-- Run topic_processor.py -->
  <node name="topic_processor" pkg="wild_visual_navigation_ros" type="topic_processor.py" output="screen">
  </node>

  <!-- Run wvn_feature_extractor.py -->
  <node name="wvn_feature_extractor" pkg="wild_visual_navigation_ros" type="wvn_feature_extractor_node.py" output="screen">
  
  <!-- Set default parameters -->
  <rosparam command="load" file="$(find wild_visual_navigation_ros)/config/wild_visual_navigation/default.yaml" />
  
  <!-- Set camera topics and input image parameters -->
  <rosparam command="load" file="$(find wild_visual_navigation_ros)/config/wild_visual_navigation/resized_wide_angle_dual.yaml" />

  </node>

  <!-- Run wvn_learning_node.py -->
  <node name="wvn_learning_node" pkg="wild_visual_navigation_ros" type="wvn_learning_node.py" output="screen">
  </node>


</launch>
